@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir.ttf');
  font-weight: normal;
  font-style: normal;
}


a{
    text-decoration: none;
    color: black;
}

a.active,
a:hover,
a:focus{
    opacity: 0.3;
}


body{
    background-color: #EDEFF4;
    font-family: 'Avenir';
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.logo{
    width: 100px;
    padding-left: 20px;
}

.menu{
    list-style-type: none;
    display: inline-block;
    float: right;
    padding-right: 20px;
}

.menu li{
    display: inline-block;
    padding-left: 20px;
}

.menu li>a{
    position: relative;
    top: -15px;
}

.profile-pic{
    border-radius: 50%;
    height: 30px;
    display: inline-block !important;
    position: relative;
    top: -7px;
}

.btn{
    background: #65B529;
    color: white;
    padding: 6 6;
}

.student-desc{
    margin-left: 35%;
    width:65%;
    padding-top: 35px;
}

.student-info{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    margin-top: 7px;
}

.student-photo{
    margin-top: 10px;
}


.student-info li>p{
    margin-top: 7px;
    margin-bottom: 0px !important;
}

.medical-history{
    background-color: white;
    min-height: 80%;
}

.medical-history h2{
    padding-left: 40px;
    font-weight: 500;
    opacity: 0.5;
    padding-top: 30px;
    
}

.a-list,.b-list{
    list-style-type: none;
    display: inline-block;
    font-size: 13px;
}

.a-list li>p,.b-list li>p{
    margin-top: 7px;
    margin-bottom: 0px !important;
}

.a-list{
    padding-left: 0px;
}

.b-list{
    float: right;
    text-align: right;
}

.complaint{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    border-bottom-color: #C8C8D3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}